$first_color: rgb(0, 0, 0);
$bg_color: rgb(249, 249, 249);
$section_color: rgb(255, 255, 255);
$btn_color: rgb(69, 209, 174);
$second_text_color: rgb(160, 160, 160);
$cat_bg_color: rgb(100, 100, 100);
$acent_color: rgb(244, 67, 54);
$site_font: 'Roboto';
$divide_border_color: rgb(220, 222, 221);
